.navbar {
    background-color: #007BFF; /* Scientific blue background color */
    color: white; /* Text color */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  .logo img {
    width: 50px; /* Adjust the logo size as needed */
  }
  
  .nav-links {
    list-style: none;
    display: flex;
  }
  
  .nav-links li {
    margin-right: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  /* Style for hover or active links */
  .nav-links a:hover,
  .nav-links a.active {
    color: #17a2b8; /* Lighter blue for hover/active */
  }
  